.movie-list-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;


}

.movie-list-wrapper td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 10px;
  font-size: 14px;
}

.movie-list-wrapper th {
  text-align: center;
}

.movie-list-wrapper table thead tr th:first-child {
  width: 5%;
}

.movie-list-wrapper thead tr th:nth-child(2) {
  width: 25%;
}

.movie-list-wrapper thead tr th:nth-child(3) {
  width: 10%;
}

.movie-list-wrapper thead tr th:nth-child(4) {
  width: 30%;
}

.movie-list-wrapper thead tr th:nth-child(5) {
  width: 0%;
}

.movie-list-wrapper thead tr th:nth-child(6) {
  width: 15%;
}

.movie-list-wrapper thead tr th:nth-child(7) {
  width: 10%;
}

.movie-list-wrapper thead tr th:last-child {
  width: 5%;
}



.movie-list-wrapper tbody tr td:first-child {
  width: 5%;
  text-align: center;
}

.movie-list-wrapper tbody tr td:nth-child(2) {
  width: 25%;
}

.movie-list-wrapper tbody tr td:nth-child(3) {
  width: 10%;
}

.movie-list-wrapper tbody tr td:nth-child(4) {
  width: 30%;
}

.movie-list-wrapper tbody tr td:nth-child(5) {
  width: 0%;
}

.movie-list-wrapper tbody tr td:nth-child(6) {
  width: 15%;
}

.movie-list-wrapper tbody tr td:nth-child(7) {
  width: 10%;
}

.movie-list-wrapper tbody tr td:last-child {
  width: 5%;
  color: #12263f;
  text-align: center;
  cursor: pointer;
}