.empty-table{
    padding: 10px;
    margin-left: 100px;

}
.seat-list{
    border-style: solid;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 5px;
}
.seat-list.disable{
    background-color: #DFDFDF;
}
.seatNull{
    height: 30px;
    width: 30px;
    margin: 0 12px;
    border-color: #DFDFDF;
    border-style: solid;
    border-radius: 3px;
}